@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

strong{
    font-weight: bold;
}

span{
    color: gray;
}

.janela-inicial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    left: 0;;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: white;
}

.janela-principal{
    background-color: #f3f3f3;
    padding-top: 102px;
    padding-bottom: 106px;
    width: 100vw;
    height: 100vh;
}

.menu.logo{
    width: 130px;
    height: 92px;
}

.login{
    margin-top: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nome-user{
    background-color: white;
    width: 261px;
    height: 54px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;

}

.nome-user::placeholder{
    color: #AEAEAE;
}

.existente::placeholder{
    color: red;
}

.botao-entrar{
    margin-top: 15px;
    width: 109px;
    height: 45px;
    background-color: #e7e7e7;
    border-radius: 9px;
    border: hidden;
    color: #696969;
    font-size: 18px;
}

.carregando{
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    color: black;
}

.carregando img{
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
}

.barra-topo{
    background-color: white;
    position: fixed;
    top:0;
    left: 0;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.barra-topo .logo{
    width: 75px;
    height: 53px;
}

.barra-topo ion-icon{
    font-size:35px;
}

.conteiner-chat{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.barra-inferior{
    background-color: white;
    position: fixed;
    bottom:0;
    left: 0;
    height: 80px;
    width: 100%;
    padding: 17px 27px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.barra-inferior ion-icon{
    font-size:26px;
}

.barra-inferior div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.barra-inferior h2{
    margin-left: 2px;
    font-size: 12px;
    color:grey;
}

.janela-users{
    overflow-x: hidden;
    z-index: 1;
    display: flex;
    width: 0%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    transition: width 0.05s;
}

.tela-escura{
    height: 100%;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.5);
}

.aba-users{
    height: 100%;
    width: 70%;
    background-color: white;
}

.aba-users h1{
    text-align: center;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    color: black;
}

.aba-users ion-icon{
    font-size: 20px;
}

.aba-users>div{
    margin-top: 30px;
}

.check{
    color:white
}

.marcado .check{
    color: green;
}

.visibilidade{
    display: flex;
    flex-direction: column;
    padding-left: 22px;
    padding-right: 22px;
    align-items: center;
}

.contatos{
    display: flex;
    flex-direction: column;
    padding-left: 22px;
    padding-right: 22px;
    align-items: center;
}

.lista-contatos{
    width: 100%;
    max-height: 420px;
    overflow-y: scroll;
}

.opcoes{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.opcoes span{
    margin-left: 5px;
    font-weight: 400;
    font-size: 16px;
    color: black;
}

.opcoes div{
    display: flex;
    align-items: center;
}

.mostrar{
    width: 100%;
}

.caixa-msg{
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
}

.caixa-msg::placeholder{
    color: black;
    font-size: 17px;
}

.mensagem{
    word-wrap: break-word;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    margin-top: 4px;
}

.reservada{
    background-color: #FFDEDE;
}

.alerta{
    background-color: #dcdcdc;
}

.botao-enviar{
    margin-left: 27px;
    border: none;
    background-color: white;
}

.escondido{
    display: none;
}